<div class="wrapper row col-sm-2" id="sidebar">
  <div class="header">
      <img src="\img\my.jpeg" alt="">
      <h2>Adarsh Dhiman</h2>
  </div>
  <div class="anc">
    <div class="content">
      <a href="/"  class="<%if(page=='home'){%> active <%}%>">Home</a>
      <a href="/services" class="<%if(page=='services'){%> active <%}%>">Services</a>
      <a href="/skills" class="<%if(page=='skills'){%> active <%}%>">Skills</a>
      <a href="/contact" class="<%if(page=='contact'){%> active <%}%>">Contact</a>
    </div>

  </div>
  
</div> 