<%- include('./partials/header.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs',{page:'home'}) %> 
    </div>
    <div class="profile col-sm-10">
      <h1>Home Page</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum neque, molestiae quod nobis aliquid iusto harum vitae, eveniet beatae omnis doloremque! Sed omnis odit quia voluptas esse pariatur, neque ea maxime, qui, quibusd. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, expedita alias. Neque veniam magnam maiores. Doloribus deleniti explicabo veniam assumenda velit, qui nemo, quibusdam quia nesciunt facere dicta numquam in minus aperiam tempore perspiciatis suscipit sunt provident veritatis tempora ratione. Dolorum, ipsam deserunt corporis nulla ea, fuga molestias corrupti animi eaque facilis quia nesciunt harum repellat fugiat labore? Animi, laudantium inventore?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum neque, molestiae quod nobis aliquid iusto harum vitae, eveniet beatae omnis doloremque! Sed omnis odit quia voluptas esse pariatur, neque ea maxime, qui, quibusd. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, expedita alias. Neque veniam magnam maiores. Doloribus deleniti explicabo veniam assumenda velit, qui nemo, quibusdam quia nesciunt facere dicta numquam in minus aperiam tempore perspiciatis suscipit sunt provident veritatis tempora ratione. Dolorum, ipsam deserunt corporis nulla ea, fuga molestias corrupti animi eaque facilis quia nesciunt harum repellat fugiat labore? Animi, laudantium inventore?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum neque, molestiae quod nobis aliquid iusto harum vitae, eveniet beatae omnis doloremque! Sed omnis odit quia voluptas esse pariatur, neque ea maxime, qui, quibusd. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, expedita alias. Neque veniam magnam maiores. Doloribus deleniti explicabo veniam assumenda velit, qui nemo, quibusdam quia nesciunt facere dicta numquam in minus aperiam tempore perspiciatis suscipit sunt provident veritatis tempora ratione. Dolorum, ipsam deserunt corporis nulla ea, fuga molestias corrupti animi eaque facilis quia nesciunt harum repellat fugiat labore? Animi, laudantium inventore?</p>
      
    </div>
  </div>
</div> 
<%- include('./partials/footer.ejs') %>